@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fcfaee;
  color: #3a3a3a;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-m-header.is-open .u-m-header-background {
  left: 0;
}
.u-m-header-button-wrapper {
  margin-left: auto;
}
.u-m-header-icon {
  display: none;
}

.u-m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-m-navigation-list.is-open {
  right: 0;
}
.u-m-header-icon-menu {
  display: block;
}

.u-m-header-icon-button.is-open .u-m-header-icon-menu {
  display: none;
}

.u-m-header-icon-button.is-open .u-m-header-icon-close {
  display: block;
}

.u-m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
  background: #18534f;
  box-shadow: 8px 8px 20px 0px #5a5a5a1a;
}

.u-m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #18534f;
  box-shadow: 8px 8px 20px 0px #5a5a5a1a;
}
.u-m-header.is-open .u-m-header-background {
  left: 0;
}
.u-m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-m-header-icon-menu {
  display: block;
}

.u-m-header-icon-button.is-open .u-m-header-icon-menu {
  display: none;
}

.u-m-header-icon-button.is-open .u-m-header-icon-close {
  display: block;
}

.u-m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;

  position: relative;
}

.u-m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 150px 32px;
  gap: 32px;
  background: #18534f;
}

.u-m-navigation-list.is-open {
  right: 0;
}

.u-m-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.u-m-navigation-link:hover,
.u-m-navigation-link:focus {
  color: #3a3a3a;
}

.u-m-header.is-open {
  background-color: transparent;
}

.u-m-navigation-img {
  display: none;
}

@media screen and (min-width: 1209px) {
  .u-m-navigation-img {
    display: flex;
    margin-right: 430px;
  }

  .u-m-header-icon-title {
    display: none;
  }
  .u-m-header-button-wrapper {
    display: none;
  }
  .u-m-header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 8px 8px 20px 0px #5a5a5a1a;
  }

  .u-m-header-background {
  }
  .u-m-header-icon-button {
    display: none;
  }
  .u-m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-m-navigation-link {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-m-navigation-item-desk {
    display: none;
  }
}
.u-m-home {
  background: #18534f;

  margin: auto;
}
.u-m-home-container {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/hero_section.png");
  padding: 80px 16px 0 16px;
  margin: auto;
}

.u-m-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
}

.u-m-home-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 52px;
  letter-spacing: 0%;
}

.u-m-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  padding: 16px 0 32px;
}
.u-m-home-title-span {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.u-m-home-link {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;

  color: #353630;
  text-decoration: none;
  text-align: center;
  background: #fcfaee;

  width: 343px;
  padding: 12px 0;
  display: block;
  transition: all 0.3s ease-in-out;

  border-radius: 1000px;
}
.u-m-home-link:hover {
  color: #ffffff;
  background: #353630;
}

@media screen and (min-width: 1209px) {
  .u-m-home-container {
    width: 1440px;
    height: 800px;
    background-image: url("/img/hero_section\ \(1\).png");

    padding: 213px 736px 0px 88px;
  }

  .u-m-home-title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 46px;
    leading-trim: NONE;
    line-height: 56px;
    letter-spacing: 0%;
  }

  .u-m-home-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 16px 0 40px;
  }
  .u-m-home-title-span {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-m-home-link {
    width: fit-content;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 12px 28px;
  }
}

.u-m-about-container {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
}
.u-m-about-title-div {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.u-m-about-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.u-m-about-title-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #353630;
}
.u-m-about-div {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.u-m-about-divs {
  width: 292px;
  border-radius: 8px;
  padding-top: 60px;
  padding-right: 16px;
  padding-bottom: 60px;
  padding-left: 16px;

  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #4e4e4e1a;
}
.u-m-about-q {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 22px;
  color: #353630;
}
.u-m-about-list {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 32px;
  gap: 10px;
  list-style-type: disc;
  margin-left: 20px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #4f4f4f;
}

@media screen and (min-width: 1209px) {
  .u-m-about-container {
    width: 1440px;
    padding: 100px 88px;
    margin: auto;
  }

  .u-m-about-title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
  }
  .u-m-about-title-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .u-m-about-div {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .u-m-about-divs {
    width: 292px;
    height: 401px;
    padding-top: 60px;
    padding-right: 16px;
    padding-bottom: 60px;
    padding-left: 16px;
    border-radius: 8px;
  }
  .u-m-about-q {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-top: 22px;
  }
  .u-m-about-list {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.u-m-why-container {
  width: 375px;
  height: 1724px;
  margin: auto;
  padding: 350px 16px 0;
  background-image: url("/img/why/Main\ Container\ \(2\).png");
}

.u-m-why-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 32px;
}

.u-m-why-item {
  display: flex;
  align-items: start;
  gap: 16px;
}
.u-m-why-item-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #000000;
  background: #dcddd9;
  width: fit-content;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 12px;
}
.u-m-why-item-two {
  display: flex;
  align-items: start;
  gap: 16px;
  padding-left: 24px;
}
.u-m-why-item-text-two {
  background: #18534f;
  color: #ffffff;
}
.u-m-why-q-div {
  padding: 448px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.u-m-why-q-div-item {
  display: flex;
  gap: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}
@media screen and (min-width: 1209px) {
  .u-m-why-container {
    width: 1440px;
    height: 1160px;
    margin: auto;
    padding: 100px 88px;

    background-image: url("/img/why//Main\ Container\ \(1\).png");
  }
  .u-m-about-title-div-why {
    padding-left: 646px;
  }
  .u-m-why-list {
    padding-top: 32px;
    padding-left: 646px;
  }

  .u-m-why-item-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-m-why-item-two {
    padding-left: 60px;
  }

  .u-m-why-q-div {
    padding: 198px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .u-m-why-q-div-item {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0.5%;
  }
}
.u-m-uniqueness {
  background: #dcddd9;
}
.u-m-uniqueness-container {
  margin: auto;
  width: 375px;
  background: #dcddd9;

  padding: 60px 16px;
}
.u-m-use-case-table {
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
  table-layout: fixed;
}

.u-m-use-case-table th,
.u-m-use-case-table td {
  overflow: hidden;
}

.u-m-use-case-header {
  background: #18534f;

  height: 84px;
  padding-top: 20px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #ffffff;
  text-align: left;
}

.u-m-use-case {
  width: 126px;
  padding: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #131313;
}
.u-m-use-case-table-tr {
  border-bottom: 1px solid #7a7a7a80;
}
.u-m-included-tools {
  width: 126px;
  padding: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #131313;
}

.u-m-human-review {
  width: 91px;

  padding: 12px 0;
}

.u-m-included-tools-img {
  width: 24px;
  margin: auto 25px 0 12px;
}

@media screen and (min-width: 1209px) {
  .u-m-uniqueness-container {
    margin: auto;
    width: 1440px;

    padding: 100px 88px;
  }
  .u-m-use-case-table {
    margin-top: 60px;
    border-collapse: collapse;
    table-layout: fixed;
    background: #f0f3f3;
  }

  .u-m-use-case-header {
    height: 28px;
    padding: 12px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0.5%;
  }

  .u-m-use-case {
    width: 432px;
    height: 24px;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .u-m-included-tools {
    width: 432px;
    height: 24px;
    padding: 12px;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .u-m-human-review {
    width: 400px;
    height: 48px;
    padding: 0px;
  }

  .u-m-included-tools-img {
    width: 24px;
    margin: 12px auto 12px 12px;
  }
  .u-m-u-m-home-link-ini {
    width: 221px;

    padding: 12px 28px;
    border-radius: 1000px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    margin: 40px auto 0;
  }
  .u-m-home-div-uni {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.u-m-line-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}
.u-m-line-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #353630;
  padding-top: 32px;
}
.u-m-line-list {
  padding-top: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.u-m-line-item {
  width: 184px;
  display: flex;
  gap: 16px;
  height: 112px;
  flex-direction: column;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #353630;
}
.u-m-line-img {
  width: 24px;
}

@media screen and (min-width: 1209px) {
  .u-m-line-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }
  .u-m-line-text-bold {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 32px;
  }
  .u-m-line-list {
    padding-top: 0px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    margin: -112px 0 0 648px;
  }

  .u-m-line-item {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.u-m-library {
  background: #dcddd9;
}
.u-m-library-container {
  background: #dcddd9;

  margin: auto;
  width: 375px;
  padding: 60px 16px;
}

.u-m-library-list {
  padding-top: 40px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.u-m-library-lists {
  display: none;
}
.u-m-library-item {
  width: 343px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #3a3a3a;
}
.u-m-library-text {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
  color: #131313;
  padding-top: 32px;
}
@media screen and (min-width: 1209px) {
  .u-m-library-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }
  .u-m-library-list {
    display: none;
  }
  .u-m-library-lists {
    display: block;
    padding-top: 60px;
  }
  .u-m-library-item {
    margin: 0 16px;
    width: 400px;
    height: 268px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;

    gap: 20px;
  }
  .u-m-library-text {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;

    padding-top: 32px;
  }
}

.u-m-how-container {
  margin: auto;

  width: 375px;
  padding: 60px 16px;
}

.u-m-how-list {
  padding-top: 40px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.u-m-how-item {
  background: #18534f;
  border-radius: 8px;
  padding: 24px;
}
.u-m-how-item-two {
  display: flex;
  align-items: center;
  gap: 16px;
}
.u-m-how-img {
  width: 60px;
}
.u-m-how-item-q {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;

  text-transform: uppercase;
  color: #ffffff;
}
.u-m-how-item-qw {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #ffffffb2;
  padding-top: 8px;
}
.u-m-how-item-e {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #5e5e5e;
  background: #ffffff;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 8px;
  margin-top: 16px;
}
@media screen and (min-width: 1209px) {
  .u-m-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }

  .u-m-how-list {
    padding-top: 60px;
    gap: 32px;
    display: flex;
    flex-direction: row;
  }

  .u-m-how-item {
    width: 400px;
    height: 236px;

    border-radius: 8px;
    padding: 24px;
  }

  .u-m-how-item-qw {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-m-how-item-e {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 8px;
    margin-top: 16px;
  }
}

.u-m-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
  height: 772px;
  background-image: url("/img/The\ Quiet\ Companion_section.png");
}

.u-m-characters-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #353630;
  margin-top: 16px;
}
.u-m-characters-text-span {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.u-m-characters-list {
  display: flex;
  flex-direction: column;
  padding: 124px 49.5px 0;
  gap: 32px;
}
.u-m-characters-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.u-m-characters-item-number {
  border: 1px solid #353630;
  width: 32px;
  height: 32px;
  border-radius: 28.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #353630;
  border: 1px solid #353630;
}
.u-m-characters-item-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #353630;
}
@media screen and (min-width: 1209px) {
  .u-m-characters-container {
    padding: 100px 88px;
    margin: auto;
    width: 1440px;
    height: 904px;
    background-image: url("/img/The\ Quiet\ Companion_section\ \(1\).png");
  }
  .u-m-about-title-div-char {
    align-items: start;
  }
  .u-m-characters-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    width: 616px;
    margin: -48px 0 0 auto;
  }
  .u-m-characters-text-span {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-m-characters-list {
    display: flex;
    flex-direction: column;
    padding: 164px 132px 0 888px;
    gap: 32px;
  }
  .u-m-characters-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .u-m-characters-item-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-m-faq-container {
  padding: 60px 16px 0;
  width: 375px;
  height: 908px;
  margin: auto;
  background-image: url("/img/Join\ Section.png");
}
.u-m-faq-div {
  padding: 248px 32px 0;
}
.u-m-faq-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}
.u-m-faq-list {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.u-m-faq-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}
.u-m-faq-img {
  width: 24px;
}
.u-m-faq-texts {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #ffffff;
  padding-top: 24px;
}

.u-m-home-link-faq {
  width: 279px;

  margin-top: 40px;
}
@media screen and (min-width: 1209px) {
  .u-m-faq-container {
    padding: 100px 88px;
    width: 1440px;
    height: 884px;
    margin: auto;
    background-image: url("/img/Join\ Section\ \(1\).png");
  }
  .u-m-faq-div {
    padding: 146.5px 32px 0 680px;
  }
  .u-m-faq-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .u-m-faq-item {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-m-faq-texts {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;

    color: #ffffff;
    padding-top: 24px;
  }

  .u-m-home-link-faq {
    width: 147px;

    margin-top: 40px;
  }
}

.u-m-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}

.u-m-features-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 40px;
}
.u-m-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffffb2;
  box-shadow: 8px 8px 20px 0px #5c5c5c14;
  background: #fbf9fa;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-radius: 8px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #4f4f4f;
  gap: 12px;
}
.u-m-features-img {
  width: 50px;
  margin-bottom: 12px;
}
.u-m-features-item-two {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #353630;
  text-transform: none;
  text-decoration: none;
}
.u-m-link {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #3b82f6;
  text-decoration: none;
}

@media screen and (min-width: 1209px) {
  .u-m-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px;
  }

  .u-m-features-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 60px;
  }
  .u-m-features-item {
    width: 227.1999969482422px;
    height: 268px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-radius: 8px;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-m-features-item-two {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .u-m-link {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-m-container {
  padding: 116px 16px 100px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #7c7c7c;
}

.u-m-container h1 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0%;

  color: #1c3f3a;
  margin-bottom: 30px;
}

.u-m-container h2 {
  margin-bottom: 16px;
  margin-top: 16px;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1c3f3a;
}

.u-m-container h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #1c3f3a;
}

.u-m-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-m-container ul li {
  margin-bottom: 10px;
}
.u-m-container p {
  margin-top: 16px;
}
.u-m-container a {
  color: inherit;
  color: #3b82f6;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.u-m-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1209px) {
  .u-m-container {
    padding: 168px 212px 100px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .u-m-container h1 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 52px;
    letter-spacing: 0%;
  }
  .u-m-container h2 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-m-container h3 {
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.u-m-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #353630;

  color: #ffffff;
}

.u-m-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.u-m-footer-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: inherit;
  text-decoration: none;
}

.u-m-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .u-m-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 60px;
  }

  .u-m-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 74px;
  }
  .u-m-footer-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-m-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}

.u-m-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: #1c3f3a;
}

.u-m-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.u-m-cookie-button {
  border: 1px solid #272727;
  background-color: transparent;
  width: 343px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 50px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #272727;
  transition: all 0.3s ease-in-out;
}
.u-m-cookie-button:hover {
  background: #272727;

  color: #ffffffcc;
}
#accept-cookies {
  background: #4d4c65;
  color: #ffffff;
  border: none;
}
#accept-cookies:hover {
  background: #313040;
}
.u-m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1209px) {
  .u-m-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .u-m-cookie-popup-text-two {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    width: 808px;
  }

  .u-m-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .u-m-cookie-button {
    width: 184px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 50px;
  }
  .u-m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
